
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules/.cache/default-development
/frontend/node_modules/.cache
*.json
frontend/package-lock.json
*.json
/frontend/node_modules
/frontend/node_modules/.cache
/frontend/node_modules/.cache/default-development
